/* Magento - Footer subscribe

Magento footer subscribe

<h1>Result</h1>

Markup: <div class="footer-container">
    <div class="footer">
        <div class="block block-subscribe">
            <div class="block-title">
                <strong><span>Newsletter</span></strong>
            </div>
            <form action="http://demo.magentocommerce.com/newsletter/subscriber/new/" method="post" id="newsletter-validate-detail">
                <div class="block-content">
                    <div class="form-subscribe-header">
                        <label for="newsletter">Sign Up for Our Newsletter:</label>
                    </div>
                    <div class="input-box">
                      <input type="email" autocapitalize="off" autocorrect="off" spellcheck="false" name="email" id="newsletter" title="Sign up for our newsletter" class="input-text required-entry validate-email">
                    </div>
                    <div class="actions">
                        <button type="submit" title="Subscribe" class="button"><span><span>Subscribe</span></span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

Styleguide 3.1
*/

.footer{
  .block-subscribe {
      float: right;
      width: 320px;
      margin-bottom: $trim;
  }
  
  .links,
  .block-subscribe {
      text-transform: uppercase;
      font-size: $f-size-xs;
  }
  
  .form-subscribe-header {
      display: none;
  }
  .block-subscribe .input-box {
      float: left;
      width: percentage(210px/320px);
      padding-top: 0;
  }

  .block-subscribe .input-text {
      width: 100%;
      border-right: 0;
      @include border-radius(0);
  }

  .block-subscribe .block-content {
    padding-top: 7px;
      &:after {
          @include clearfix;
      }
  }

  .block-subscribe .actions {
      float: left;
      width: percentage(110px/320px);
      margin: 0;
  }

  .block-subscribe .actions .button {
      height: 30px;
      line-height: 17px;
      float: left;
  }
}
