/* Magento - Product view shop

Magento Product view shop

<h1>Result</h1>

Markup: <div class="product-view">
    <div class="product-shop">
        <div class="product-name">
            <span class="h1">Tori Tank</span>
        </div>
        <div class="price-info">
            <div class="price-box">
                <span class="regular-price" id="product-price-418">
                    <span class="price">$60.00</span>
                </span>      
            </div>
        </div>
        <div class="extra-info">
            <p class="availability in-stock">
              <span class="label">Availability:</span>
              <span class="value">In stock</span>
            </p>
        </div>
        <div class="short-description">
            <div class="std">A simple ribbed cotton tank. Great for layering.</div>
        </div>
            <div class="product-options" id="product-options-wrapper">
            <dl class="last">
                <dt><label class="required"><em>*</em>Color</label></dt>
                <dd>
                    <div class="input-box">
                      <select name="super_attribute[92]" id="attribute92" class="required-entry super-attribute-select">
                          <option value="">Choose an Option...</option>
                          <option value="26" price="0">Indigo</option>
                      </select>
                    </div>
                </dd>
                <dt><label class="required"><em>*</em>Size</label></dt>
                <dd class="last">
                    <div class="input-box">
                        <select name="super_attribute[180]" id="attribute180" class="required-entry super-attribute-select">
                            <option value="">Choose an Option...</option>
                            <option value="79" price="0">M</option>
                            <option value="78" price="0">L</option>
                            <option value="77" price="0">XL</option>
                        </select>
                    </div>
                </dd>
                    </dl>
            <p class="required">* Required Fields</p>
        </div>
        <div class="product-options-bottom">
            <div class="price-box">
                <span class="regular-price" id="product-price-418_clone">
                    <span class="price">$60.00</span>
                </span>
            </div>
            <div class="add-to-cart">
                <div class="qty-wrapper">
                    <label for="qty">Qty:</label>
                    <input type="text" pattern="\d*" name="qty" id="qty" maxlength="12" value="1" title="Qty" class="input-text qty"/>
                </div>
                <div class="add-to-cart-buttons">
                    <button type="button" title="Add to Cart" class="button btn-cart" onclick="productAddToCartForm.submit(this)"><span><span>Add to Cart</span></span></button>
                </div>
            </div>
            <ul class="add-to-links">
                <li><a href="#" class="link-wishlist">Add to Wishlist</a></li>
                <li><span class="separator">|</span> <a href="#" class="link-compare">Add to Compare</a></li>
            </ul>
            <ul class="sharing-links">
                <li><a href="#" class="link-email-friend" title="Email to a Friend">Email to a Friend</a></li>
                <li><a href="#" target="_blank" title="Share on Facebook" class="link-facebook">Share Facebook</a></li>
                <li><a href="#" target="_blank" title="Share on Twitter" class="link-twitter">Share on Twitter</a></li>
            </ul>
        </div>
    </div>
</div>

Styleguide 6.2
*/


.product-view{
  .product-shop {
        width: 50%;
        float: right;

        .product-name {
            display: none;
            float: left;
        }
        .product-name .h1 {
            float: left;
            margin-bottom: 5px;
        }

        .extra-info {
            float: left;
            padding-right: $trim/2;
            clear: left;
        }

        .price-info {
            float: right;
            padding-left: $trim/2;
            text-align: right;
        }

        .extra-info,
        .price-info {
            max-width: 50%;
            margin-bottom: $box-spacing;
        }

        .short-description {
            margin-bottom: $box-spacing;
            clear: both;
        }

        .ratings {
            margin-bottom: 8px;
        }

        .availability {
            font-size: $f-size-xl;
        }

        .price-box {
            margin-top: 0;

            .old-price,
            .special-price,
            .regular-price {
                padding-right: 0;
                line-height: 1.2;
            }

            .regular-price .price,
            .special-price .price,
            .full-product-price .price {
                color: $c-action;
                font-size: 24px;
            }

            .special-price .price-label {
                font-size: $f-size-xl;
                text-transform: uppercase;
            }

            .price-excluding-tax,
            .price-including-tax {
                display: block;
                line-height: 1.2;

                .label {
                    font-size: $f-size-xl;
                    font-weight: 300;
                }

                .price {
                    font-size: 20px;
                }
            }
        }
    }

    .old-price {
        .price-label {
            display: none;
        }
    }

    .add-to-cart-wrapper,
    .block-related {
        width: 50%;
        float: right;
        clear: right;
    }
}


@include bp(max-width, 850px) {
    .product-view {
        .product-shop {
            .price-box {
                .price-excluding-tax,
                .price-including-tax {
                    .label {
                        font-size: $f-size-l;
                    }

                    .price {
                        font-size: $f-size-xxl;
                    }
                }
            }
        }
    }
}

@include bp(max-width, $bp-medium) {
    .product-view {
        .add-to-cart-wrapper {
            float: none;
            width: 100%;
            clear: both;
        }

        .product-shop {
            .price-box {
                .price-excluding-tax,
                .price-including-tax {
                    .label {
                        font-size: $f-size-xl;
                    }

                    .price {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@include bp(max-width, 420px) {
    .product-view {
        .product-shop {
            .price-box {
                .price-excluding-tax,
                .price-including-tax {
                    margin-bottom: 5px;

                    span {
                        display: block;
                    }
                }
            }
        }
    }
}


.product-view .product-shop,
.product-view .add-to-cart-wrapper,
.product-view .block-related {
    padding-left: $trim/2;
}

.product-view {

    .add-to-box:after,
    .add-to-cart:after {
        @include clearfix;
    }

    .add-to-cart {
        padding-bottom: 3px;
        margin-bottom: 10px;
        border-bottom: 1px solid $c-module-border;
    }

    /* Set a min-height so that the floated elements break appropriately */
    .add-to-cart .qty-wrapper,
    .product-options-bottom .price-box,
    .add-to-cart-buttons {
        min-height: 40px;
    }

    .product-options-bottom .price-box,
    .add-to-cart .qty-wrapper,
    .add-to-cart-buttons .button,
    .add-to-cart-buttons .paypal-logo {
        margin-bottom: 10px;
    }

    .add-to-cart .qty-wrapper,
    .add-to-cart .qty-wrapper label {
        margin-right: 7px;
        float: left;
    }

    .add-to-cart .qty-wrapper label {
        line-height: 40px;
    }

    .add-to-cart .qty-wrapper .qty {
        float: left;
        height: 40px;
    }

    .add-to-cart-buttons {
        float: left;
        margin-right: 10px;

        .paypal-logo {
            clear: left;
            text-align: center;

            .paypal-button {
                margin: 0 auto;
                display: block;
                width: 145px;
            }

            .bml_button {
                display: block;
                width: 150px;
                margin: 0 auto;

                a {
                    text-align: center;
                }
            }

            .paypal-or {
                display: block;
                margin-bottom: 10px;
                margin-left: 0;
                margin-right: 0;
                line-height: 1;
                text-align: center;
            }
        }
    }

    .add-to-cart-buttons .button {
        height: 40px;
        line-height: 40px;
        font-size: $f-size-xl;
        padding: 0px 30px;
        float: left;
        min-width: 160px;
        width: 100%;
    }
}

@include bp(max-width, $bp-xsmall) {
    .product-view .add-to-cart-buttons {
        .paypal-or {
            line-height: 20px;
        }

        .paypal-logo,
        .paypal-or,
        .paypal-button,
        .button {
            text-align: center;
            width: 100%;
            display: block;
            margin-right: 0;
            margin-left: 0;
            float: none;
        }
    }
}

/* This is the "or" that separates the "Add to Cart" and "Add to X" links */
.add-to-box .or {
    display: none;
}

.product-view .add-to-links {
    clear: both;
    margin-top: 0px;
    margin-right: 15px;
    float: left;

    &:after {
        @include clearfix;
    }

    li {
        float: left;
    }

    a {
        padding: 2px 7px 2px 0px;
        margin-left: 7px;
        border-right: 1px solid $c-module-border;
    }

    li:first-child a {
        margin-left: 0px;
    }

    li:last-child a {
        border-right: 0px;
    }
}

.product-view .sharing-links {
    float: left;

    &:after {
        @include clearfix;
    }

    li {
        float: left;
        padding: 0px 7px 7px;
    }

    a {
        @include image-replacement;
        @extend .icon-sprite;
        display: block;
        width: 26px;
        height: 26px;
    }
    a:hover {
        opacity: 0.8;
    }
    a.link-wishlist {
        background-position: 0px -225px;
    }
    a.link-compare {
        background-position: 0px -250px;
    }
    a.link-email-friend {
        background-position: 0px (-325px + 3px);
    }
    a.link-facebook {
        background-position: 0px -425px;
    }
    a.link-twitter {
        background-position: 0px (-375px + 3px);
    }
}

@include bp(max-width, 599px) {
    .add-to-box .add-to-links {
        a {
            float: none;
            width: auto;
            @include image-replacement-override;
        }
    }
}



/* -------------------------------------------- *
 * Catalog - Product Options
 */

.product-options {
    width: 100%;
    margin: 10px 0 0;
    padding: 10px 15px 15px;
    border: 1px solid $c-fieldset-border;
    clear: both;
    position: relative;
}

.product-options p.required {
    position: absolute;
    top: 6px;
    right: 15px;
}

.product-options dt {
    margin: $gap 0 3px;
    font-weight: normal;
}

.product-options dt:first-child {
    margin-top: 0;
}

.product-options dd .qty-holder {
    display: block;
    padding: $gap 0 0 0;
}

.product-options dd .qty-holder .qty {
    width: 3em;
}

.product-options dd .qty-holder label {
    vertical-align: middle;
}

.product-options dd .qty-disabled {
    background: none;
    border: 0;
    padding: 0 2px;
}

.product-options dd {
    padding: 0 0 10px 0;
    margin: 0 0 5px;
    border-bottom: 1px solid $c-fieldset-border-light;
}

.product-options dl.last dd.last {
    border-bottom: 0;
    padding-bottom: 5px;
    margin-bottom: 0;
}

.product-options dd .input-text {
    width: 98%;
}

.product-options dd .input-box {
    padding-top: 0;
}

.product-options dd input.datetime-picker {
    width: 150px;
}

.product-options dd .time-picker {
    @include inline-block;
    padding: 2px 0;
    vertical-align: middle;
}

.product-options dd textarea {
    width: 98%;
    height: 8em;
}

.product-options dd select {
    width: 330px;
    max-width: 100%;
}

.product-options ul.options-list {
    margin-right: 5px;
}

.product-options ul.options-list li {
    line-height: 1.5;
    margin-bottom: 7px;
}

.product-options ul.options-list li:last-child {
    margin-bottom: 0;
}

.product-options ul.options-list .radio,
.product-options ul.options-list .checkbox {
    float: left;
    margin-top: 5px;
}

.product-options ul.options-list .label {
    display: block;
}

.product-options ul.options-list label {
    font-weight: normal;
}

.product-options p.note {
    margin: 0;
    font-size: $f-size-xxs;
}

.product-options-bottom {
    background-color: $c-module-background;
    padding: 15px 20px;
    border: 1px solid $c-fieldset-border;
    border-top: 0;
    margin-bottom: $box-spacing;
}

.product-options-bottom:after {
    @include clearfix;
}

.product-options-bottom .product-pricing,
.product-options-bottom .tier-prices {
    float: right;
    margin: 0;
    padding: 0 0 $gap;
    border: 0;
    background: 0;
    color: $c-text;

    @include bp(max-width, $bp-xsmall) {
        float: none;
        width: 100%;
        text-align: right;
        padding-bottom: $gap / 2;
        margin-bottom: $gap;
        border-bottom: 1px solid $c-fieldset-border;
    }
}

.product-options-bottom .tier-prices li {
    background: 0;
    padding: 2px 0;
}

.product-options-bottom .tier-prices .price,
.product-options-bottom .tier-prices .benefit {
    color: $c-text;
}

/* "display: none" should be removed if products on site have a long list of product options and those product options */
/*  affect the price so that the customer can see the updated price close to the "Add to Cart" button */
.product-options-bottom .price-box {
    display: none;
    float: right;
    margin: 0 0 $gap;
    padding: 0;
}

@include bp(max-width, $bp-xsmall) {
    .product-options-bottom .price-box .price-as-configured {
        text-align: right;

        .price-label {
            display: block;
        }
    }
}

.product-options-bottom .price-tax {
    float: left;
}

