/* Magento - Catalog MSRP

Magento Catalog MSRP

<h1>Result</h1>

Markup: <!-- adding a div in relative for the exemple -->
<div style="position:relative;height:580px;"> 
    <div id="map-popup" class="map-popup">
        <a href="#" class="map-popup-close" id="map-popup-close">×</a>
        <div class="map-popup-heading">
            <h3 id="map-popup-heading">Silver Desert Necklace</h3>  
        </div>
        <div class="map-popup-content" id="map-popup-content" style="visibility: visible;">
            <div class="map-popup-msrp" id="map-popup-msrp-box">
              <span class="label">Price:</span>
              <span style="text-decoration:line-through;" id="map-popup-msrp">$99</span>
            </div>
            <div class="map-popup-price" id="map-popup-price-box">
                <span class="label">Actual Price:</span>
                <span id="map-popup-price">
                    <div class="price-box">
                        <span class="regular-price" id="product-price-553-related">
                            <span class="price">$210.00</span>
                        </span>
                    </div>
                </span>
            </div>
            <div class="map-popup-checkout">
                <form action="#" method="POST" id="product_addtocart_form_from_popup">
                    <input type="hidden" name="product" class="product_id" value="553" id="map-popup-product-id"/>
                    <div class="additional-addtocart-box"></div>
                    <button type="button" title="Add to Cart" class="button btn-cart" id="map-popup-button"><span><span>Add to Cart</span></span></button>
                </form>
            </div>
        </div>
        <div class="map-popup-text map-popup-only-text" id="map-popup-text">
            Our price is lower than the manufacturer's "minimum advertised price."  As a result, we cannot show you the price in catalog or the product page. <br><br>
            You have no obligation to purchase the product once you know the price. You can simply remove the item from your cart.
        </div>
        <div class="map-popup-text" id="map-popup-text-what-this">
            Our price is lower than the manufacturer's "minimum advertised price."  As a result, we cannot show you the price in catalog or the product page. <br><br>
            You have no obligation to purchase the product once you know the price. You can simply remove the item from your cart.
        </div>
    </div>
</div>

Styleguide 7
*/

/* ============================================ *
 * Catalog - MSRP MAP Popup
 * ============================================ */

.cart-msrp-totals {
    color: red;
    font-size: 12px !important;
    font-weight: bold;
    margin: 10px 10px 0;
    padding: 10px;
    text-align: right;
    text-transform: uppercase;
}

.map-cart-sidebar-total {
    color: red;
    display: block;
    font-size: 10px;
    font-weight: bold;
    text-align: left;
    padding: 2px 5px;
}

.map-popup {
    background: #FFFFFF;
    border: 5px solid $c-module-border;
    margin: 12px 0 0;
    position: absolute;
    text-align: left;
    width: 450px;
    z-index: 100;

    @include bp(min-width, $bp-medium + 1) {
        &.map-popup-right {
            left: $gap !important;
        }

        &.map-popup-left {
            left: auto !important;
            right: $gap !important;
        }
    }

    @include bp(max-width, $bp-medium) {
        width: 100%;
        left: 0px !important;
    }

    .map-popup-heading {
        padding: 8px 10px;
        margin-right: 40px;
        width: auto;

        h3 {
            font-size: $f-size;
            margin: 0;
            overflow: hidden;
            white-space: nowrap;
            word-wrap: break-word;
            text-align: left;
            text-overflow: ellipsis;

            @include bp(max-width, $bp-xsmall) {
                text-align: center;
            }
        }
    }

    .map-popup-close {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 36px;
        width: 36px;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
    }

    .map-popup-content {
        border-top: 1px solid $c-module-border-light;
        padding: 10px;
        margin: 0 10px;
        overflow: hidden;
        text-align: left;

        @include bp(max-width, $bp-xsmall) {
            text-align: center;
        }
    }

    .map-popup-checkout {
        padding: $gap 0;

        form:after {
            @include clearfix;
        }

        span {
            display: block;
        }

        .button {
            float: left;
            margin: 0 2px;
            clear: left;
        }

        .additional-addtocart-box {
            float: left;
            min-width: 210px; // fix for a web-kit box-model display bug

            li {
                list-style-type: none;
            }
        }

        .paypal-logo {
            width: auto;

            a {
                display: inline-block;
                float: left;
                clear: left;
            }

            .paypal-or {
                float: left;
                text-align: center;
                padding: 5px 15px;
                clear: left;
            }

            &:after {
                @include clearfix;
            }

            .bml_button {
                a {
                    clear: left;
                }
            }
        }

        @include bp(max-width, $bp-xsmall) {
            text-align: center;

            .button,
            .additional-addtocart-box,
            .paypal-logo a,
            .paypal-logo .paypal-or {
                float: none;
            }

            .additional-addtocart-box {
                min-width: 0px;
            }

            .paypal-logo .paypal-or {
                margin: 0px;
                margin-bottom: 10px;
            }
        }

        &:after {
            @include clearfix;
        }
    }

    .map-popup-price {
        padding: $gap 0;

        .price-box,
        .price-box .special-price {
            display: inline-block;
            margin: 0;
            padding: 0;
        }

        @include bp(max-width, $bp-xsmall) {
            text-align: center;
            padding-top: 0px;
        }
    }

    .map-popup-text {
        padding: 10px 0;
        margin: 0 10px;
        word-wrap: break-word;
    }

    .map-popup-text,
    .map-popup-only-text {
        border-top: 1px solid $c-module-border-light;
    }
}
