parameters: 
    locale: fr_FR
    timezone: Europe/Paris
    default_currency: EUR
    db_host: DATABASE_HOST
    db_name: DATABASE_NAME
    db_user: DATABASE_USER
    db_pass: DATABASE_PASSWORD
    url: http://DOMAIN/
    admin_firstname: Admin
    admin_lastname: Admin
    admin_email: admin@test.com
    admin_username: admin
    admin_password: password
    install_sample: false
