/* Magento - Header switcher

Magento Header switcher

<h1>Result</h1>

Markup: <div class="header-language-background">
    <div class="header-language-container">
        <div class="store-language-container">
            <div class="form-language">
                <label for="select-language">Your Language:</label>
                <select id="select-language" title="Your Language">
                    <option value="" selected="selected">English</option>
                    <option value="">French</option>
                    <option value="">German</option>
                </select>
            </div>
        </div>
        <p class="welcome-msg">Welcome</p>
    </div>
</div>

Styleguide 4.4
*/

.header-language-container,
.page-header {
    font-family: $f-stack-special;
}

.header-language-background {
    padding: $gap;
    background-color: $c-action;
    text-transform: uppercase;

    .header-language-container {
        max-width: $max-content-width;
        margin-left: auto;
        margin-right: auto;
    }

    &:after {
        @include clearfix;
    }

    .form-language,
    .currency-switcher {
        float: left;
        margin-right: $gap;
    }

    .welcome-msg {
        float: right;
    }
}
.page-header-container .store-language-container {
    float: right;
    max-width: 35%;
    padding: 13px 15px 10px 10px;

    label {
        display: none;
    }
    select {
        max-width: 100%;
    }
}
.header-language-background,
.header-language-background a {
    color: $c-text-white;
}
